body {
  background-color: #000;
  background-image: url(https://assets.jjperezaguinaga.com/v1/homepage/background-1366.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #fff;
}

h1, p {
  margin: 0;
}

h1 {
  font-family: "Rokkitt", 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 48px;
  letter-spacing: 0.025em;
  line-height: 1.25em;
}

p {
  letter-spacing: 0.0525em;
  width: 520px;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5em;
  color: #eee;
}

.main {
  position: absolute;
  top: 20%;
  left: 32px;
}

.browserupgrade {
 margin: 0.2em 0;
 background: #000;
 color: #fff;
 padding: 0.2em 0;
}
