@media only screen
and (max-device-width: 480px) {
  html {
    font-size: 8px;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
    width: 100%;
  }
  a {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    padding: 1rem;
  }
  .main {
    left: 0;
    right: 0;
    padding: 2rem;
    top: 2rem;
  }
}

@media only screen
and (min-device-width: 2560px)
and (orientation: landscape) {
  html {
    font-size: 64px;
  }
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 2559px)
and (orientation: landscape) {
  html {
    font-size: 18px;
  }
}
