.hide-on-med-and-down 
  .sections-top-left
    center
      a.section-link(href='#about-me-box') Who I am

  .sections-top-right
    center
      a.section-link(href='#what-i-do') What I do
      
  .sections-bottom-left
    center
      a.section-link(href='#projects') Projects

  .sections-bottom-right
    .row
      .col.m2
        center
          a(href='https://www.linkedin.com/in/jjperezaguinaga/' target='_blank'): img(src="/img/contact/linkedin.png" alt="LinkedIn")
      .col.m2
        center
          a(href="mailto:me@jjperezaguinaga.com"): img(src="/img/contact/email.png" alt="Email")
      .col.m2
        center  
          a(href='https://github.com/jjperezaguinaga' target='_blank'): img(src="/img/contact/github.png" alt="Github")
      .col.m6
        .section-link Get in touch
  
  .return-top
    a.section-link(href="#home-page-box"): <i class="small material-icons">arrow_upward</i>
