doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    block title
      title José Pérez Aguiñaga
    block styles
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
      link(href="css/materialize.min.css", rel="stylesheet")
      link(href="css/lightslider.css", rel="stylesheet", type="text/css")
      link(href="css/style.css", rel="stylesheet")
