include header.pug
  body
    .project-header.header-bg
      include project-corner.pug
    .project-overview
      .row.no-margin
        .col.s12.m7
          p.project-title
          p.project-subtitle
        .col.s12.m5
          p.project-description
    .project-main
      img.project-img(src="")
    .project-multimedia
    .project-footer.footer-bg
include project-footer.pug
