.hide-on-small-only
  .projects-top-left
    center
      .back.projects-link Back to projects

  .projects-top-right
    center
      .projects-link See the conference

  .projects-bottom-right
    .row
      .col.m4
        center
          a(href='https://www.linkedin.com/in/jjperezaguinaga/' target='_blank'): img(src="/img/contact/linkedin.png" alt="LinkedIn")
      .col.m4
        center
          a(href="mailto:me@jjperezaguinaga.com"): img(src="/img/contact/email.png" alt="Email")
      .col.m4
        center  
          a(href='https://github.com/jjperezaguinaga' target='_blank'): img(src="/img/contact/github.png" alt="Github")

.hide-on-med-and-up
  .projects-top-middle
    center
      .back.projects-link Back to projects
